// @import 'npm://bootstrap';
@import (inline) 'npm://normalize.css/normalize.css';

html, body{
  font-family: Hack;
}

body{
  padding-top: 50px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #eee;

  ul.links{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    li{
      float: left;
      width: 10%;

      a{
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: #666;

        &:hover, &.active{
          background-color: #42b983;
          color: #fff;
        }
      }
    }
  }
}

.container{
  max-width: 900px;
  margin: 0 auto;
}