// @import 'npm://bootstrap';
@import (inline) 'npm://normalize.css/normalize.css';
@import './variable';

html, body{
  font-family: Hack;
}

body{
  padding-top: @a-height;
  background-color: @bg;
  min-height: 500px;

  > footer{
    margin-top: 40px;
    margin-bottom: 30px;

    a{
      color: @highlight;
      text-decoration: none;
    }
  }
}

@a-height: 40px;
header.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: @bg;
  border-bottom: 1px solid @highlight;

  ul.links{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    li{
      float: left;
      width: 10%;

      a{
        display: block;
        height: @a-height;
        line-height: @a-height;
        text-align: center;
        text-decoration: none;
        color: @highlight;

        &:hover, &.active{
          background-color: @highlight;
          color: #fff;
        }
      }
    }
  }
}

.container{
  max-width: 900px;
  margin: 0 auto;
}