@import './variable';

.home{
  font-size: 10rem;
}

.blog-name{
  font-size: 3em;
  margin: 1em 0;
  color: @highlight;
}

ul.posts{
  margin-top: 20px;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;

  li{
    padding: 10px;
    border-top: 1px solid #ccc;

    &:first-child{
      border-top: none;
    }

    a{
      // color: #42b983;
      color: @highlight;
      text-decoration: none;
    }

    .time{
      float: right;
    }
  }
}

// .container{
//   max-width: 800px;
//   margin: 0 auto;
// }