// 代码高亮
@theme: 'solarized-light';
@import (inline) 'npm://highlight.js/styles/@{theme}.css';

pre{
  padding: 0;

  // 使 highlight 前后保持一致
  // padding, font-family, font-size
  code.hljs, code{
    padding: 0.5em;
    display: block;
    font-size: 14px;
    font-family: 'Ubuntu Mono', Hack, Menlo, Monoca, Consolas;
  }
}

.post{
  margin-top: 20px;
}